## Q1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()
print('Spark Version ', spark.version)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/01 14:51:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Spark Version  3.3.2

## Q2

In [1]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz -O fhvhv_tripdata_2021-06.csv.gz

--2023-03-01 14:51:08--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230301T145108Z&X-Amz-Expires=300&X-Amz-Signature=44362979eacf502254ba6f4a3872be78f83ad3fe9f8c4fa636004661a37be396&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-01 14:51:08--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230301T145108Z&X-Amz-Expires=300&X-Amz-Signature=44362979eacf502254ba6f4a3872be78f83ad3fe9f8c4fa636004661a37be396&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  23.2MB/s    in 7.5s

2023-03-01 14:51:16 (22.4 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [3]:
# check types
import pandas as pd
df = pd.read_csv('fhvhv_tripdata_2021-06.csv.gz', nrows=1000)
df.head()

,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,SR_Flag,Affiliated_base_number
0,B02764,2021-06-01 00:02:41,2021-06-01 00:07:46,174,18,N,B02764
1,B02764,2021-06-01 00:16:16,2021-06-01 00:21:14,32,254,N,B02764
2,B02764,2021-06-01 00:27:01,2021-06-01 00:42:11,240,127,N,B02764
3,B02764,2021-06-01 00:46:08,2021-06-01 00:53:45,127,235,N,B02764
4,B02510,2021-06-01 00:45:42,2021-06-01 01:03:33,144,146,N,NaN

In [4]:
from pyspark.sql import types

In [5]:
# schema
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [6]:
df_trips = spark.read \
        .option("header", "true") \
        .schema(schema) \
        .csv('fhvhv_tripdata_2021-06.csv.gz')
df_trips.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [7]:
df_trips \
    .repartition(12) \
    .write.parquet('fhvh_06_2023', mode='overwrite')

In [8]:
import os

for f in sorted(os.listdir('fhvh_06_2023')):
    if os.path.splitext(f)[-1] == '.parquet':
        print(f'{f} => {os.path.getsize(os.path.join("fhvh_06_2023", f)) * 1e-6}mb')

part-00000-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.80184mb
part-00001-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.799764mb
part-00002-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.813665mb
part-00003-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.816657mb
part-00004-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.807133mb
part-00005-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.800815mb
part-00006-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.812905999999998mb
part-00007-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.809397999999998mb
part-00008-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.814315mb
part-00009-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.810738999999998mb
part-00010-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.810799mb
part-00011-04bdd3b8-e8dc-4592-9dca-b92476557b3d-c000.snappy.parquet => 24.803713mb

## Q3

In [9]:
df_trips.createOrReplaceTempView('fhvh')
df_result = spark.sql("""
SELECT 
    COUNT(*) AS Trips
FROM
    fhvh
WHERE
    EXTRACT(DAY FROM pickup_datetime) = 15
""")
df_result.show()

+------+
| Trips|
+------+
|452470|
+------+

## Q4

In [11]:
from pyspark.sql import functions as F
df_result = df_trips \
    .select(
        F.max(
            (df_trips.dropoff_datetime.cast("long") - df_trips.pickup_datetime.cast("long"))/3600.
        ).alias('max_duration_in_hours')) \
    .show()

+---------------------+
|max_duration_in_hours|
+---------------------+
|     66.8788888888889|
+---------------------+

## Q5

Spark's user interface is in :4040

## Q6

In [12]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -O taxi_zone_lookup.csv

--2023-03-01 14:56:12--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230301T145613Z&X-Amz-Expires=300&X-Amz-Signature=ba147d9d0b8d3101b02d920e3e3c3119935b575847e92cdfef4df08424661987&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-03-01 14:56:13--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230301%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230301T145613Z&X-Amz-Expires=300&X-Amz-Signature=ba147d9d0b8d3101b02d920e3e3c3119935b575847e92cdfef4df08424661987&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2023-03-01 14:56:13 (20.2 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [13]:
schema_zones = types.StructType([
    types.StructField('LocationID', types.IntegerType(), True),
    types.StructField('Borough', types.StringType(), True),
    types.StructField('Zone', types.StringType(), True),
    types.StructField('service_zone', types.StringType(), True)
])

df_zones = spark.read \
        .option("header", "true") \
        .schema(schema_zones) \
        .csv('taxi_zone_lookup.csv')
df_zones.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [16]:
df_zones.createOrReplaceTempView('zones')
df_result = spark.sql("""
SELECT 
    COUNT(*) AS trip_count,
    Z.Zone as Zone
FROM
    fhvh AS F
JOIN 
    zones AS Z
ON 
    F.PULocationID = Z.LocationID
GROUP BY
    Z.Zone
ORDER BY
    COUNT(*) DESC
LIMIT 5
""")
df_result.show()

+----------+-------------------+
|trip_count|               Zone|
+----------+-------------------+
|    231279|Crown Heights North|
|    221244|       East Village|
|    188867|        JFK Airport|
|    187929|     Bushwick South|
|    186780|      East New York|
+----------+-------------------+